.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 8s linear;
  width:50px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(deg);
  }
  to {
    transform: rotate(360deg);
  }
}
